{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "API Goldylocks",
    "description" : "### Chave API\nTodos os pedidos à API do Goldylocks feitos de forma externa têm de utilizar uma **chave API**.\nDe forma a ser possivel utilizar a **chave API** tem de ser adicionado ao URL o paramêtro `&api=CHAVE_API_GOLDYLOCKS`.\nA **chave API** do Goldylocks é gerada indo a `Gestão` -> `Tabelas` -> `Agentes` e clicar em `Criar Chave API`.\n\n*Goldyteam Portugal 2020*",
    "contact" : { },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://app.goldylocks.pt/empresademonstrativa/api/"
  } ],
  "security" : [ {
    "httpBearer" : [ ]
  } ],
  "tags" : [ {
    "name" : "Agendamentos"
  }, {
    "name" : "Agentes"
  }, {
    "name" : "Armazens"
  }, {
    "name" : "Artigos"
  }, {
    "name" : "Avenças"
  }, {
    "name" : "Bancos"
  }, {
    "name" : "Caixas"
  }, {
    "name" : "Campanhas"
  }, {
    "name" : "Carateristicas"
  }, {
    "name" : "Configuraçao Impressão"
  }, {
    "name" : "Contas Banco"
  }, {
    "name" : "Dashboard"
  }, {
    "name" : "Data"
  }, {
    "name" : "Documentos"
  }, {
    "name" : "Email"
  }, {
    "name" : "Entidades"
  }, {
    "name" : "Encomendas expedidas"
  }, {
    "name" : "Equipamentos"
  }, {
    "name" : "Escolhas documentos"
  }, {
    "name" : "Especialidades Utilizadores"
  }, {
    "name" : "Estado documentos"
  }, {
    "name" : "Familias"
  }, {
    "name" : "Ficheiros"
  }, {
    "name" : "Folha de Obra"
  }, {
    "name" : "Grupos clientes"
  }, {
    "name" : "Historico Movimentos"
  }, {
    "name" : "Hipay"
  }, {
    "name" : "Impostos"
  }, {
    "name" : "Lojas Online"
  }, {
    "name" : "Marcações"
  }, {
    "name" : "Mesas"
  }, {
    "name" : "Metodos entrega"
  }, {
    "name" : "Metodos pagamento"
  }, {
    "name" : "Modelos de email"
  }, {
    "name" : "Modelos de impressao"
  }, {
    "name" : "Modulo fitofarmaco"
  }, {
    "name" : "Modulos"
  }, {
    "name" : "Opcoes"
  }, {
    "name" : "Opções eventos"
  }, {
    "name" : "Paypal"
  }, {
    "name" : "POS"
  }, {
    "name" : "Preparaçao"
  }, {
    "name" : "Prestashop"
  }, {
    "name" : "Recibos"
  }, {
    "name" : "Relatorios "
  }, {
    "name" : "Series"
  }, {
    "name" : "Series manuais"
  }, {
    "name" : "Sistema"
  }, {
    "name" : "Sms"
  }, {
    "name" : "Stocks"
  }, {
    "name" : "Taloes"
  }, {
    "name" : "Tipos de documentos"
  }, {
    "name" : "Tipos de unidades de artigos"
  }, {
    "name" : "Tipos opções eventos"
  }, {
    "name" : "Transporte"
  }, {
    "name" : "Unidades artigos"
  }, {
    "name" : "Utilizadores"
  }, {
    "name" : "Viaturas"
  }, {
    "name" : "Webstore"
  }, {
    "name" : "Zonas"
  }, {
    "name" : "Zonas fiscais"
  } ],
  "paths" : {
    "/agendamentos" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Obter agendamentos",
        "operationId" : "Obteragendamentos",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/agendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Obter agendamento",
        "operationId" : "Obteragendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_1"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/criaragendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Criar agendamento",
        "operationId" : "Criaragendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_2"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/editaragendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Alterar agendamento",
        "operationId" : "Alteraragendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_3"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/moveragendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Mover agendamento",
        "operationId" : "Moveragendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_4"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/processaragendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Processar agendamento para documento",
        "operationId" : "Processaragendamentoparadocumento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_5"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/alterarduracaoagendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Alterar duraçao agendamento",
        "operationId" : "Alterarduraçaoagendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_6"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/removeragendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Eliminar agendamento",
        "operationId" : "Eliminaragendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_7"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/anularconfirmacaoagendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Anular confirmação agendamento",
        "operationId" : "Anularconfirmaçãoagendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_8"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/terminaragendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Terminar agendamento",
        "operationId" : "Terminaragendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_9"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/anularterminoagendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Anular termino documento",
        "operationId" : "Anularterminodocumento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_10"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/alterarregistoagendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Alterar registo de um agendamento",
        "operationId" : "Alterarregistodeumagendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_11"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/alterarobservacoesagendamento" : {
      "post" : {
        "tags" : [ "Agendamentos" ],
        "summary" : "Alterar observações de um agendamento",
        "operationId" : "Alterarobservaçõesdeumagendamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_12"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/agentes" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Obter os agentes de impressão disponiveis",
        "operationId" : "Obterosagentesdeimpressãodisponiveis",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "u",
          "in" : "query",
          "description" : "obter info de todos os agentes, senao obtem apenas os do utilizador ativo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        }, {
          "name" : "a",
          "in" : "query",
          "description" : "obter ino",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/agentesdelivery" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Delivery - obter agentes disponiveis",
        "operationId" : "Delivery-obteragentesdisponiveis",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "todos"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/checkagenteactivo" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Verificar se um agente se encontra ativo",
        "operationId" : "Verificarseumagenteseencontraativo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "agente",
          "in" : "query",
          "description" : "id do agente a verificar, devolve 1 se ativo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/agentesactivos" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Obter os agentes de impressão ativos",
        "operationId" : "Obterosagentesdeimpressãoativos",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id de agente especifico a verificar se esta ativo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "id de agente especifico a verificar se esta ativo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/agentesonline" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Obter todos os agentes ativos online",
        "operationId" : "Obtertodososagentesativosonline",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/activaragente" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Ativar um agente",
        "operationId" : "Ativarumagente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id do agente a ativar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/desactivaragente" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Desativar um agente",
        "operationId" : "Desativarumagente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id de desativação do agente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/agentecomando" : {
      "post" : {
        "tags" : [ "Agentes" ],
        "summary" : "Enviar um comando a um agente",
        "operationId" : "Enviarumcomandoaumagente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id do agente a receber o comando",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        }, {
          "name" : "cmd",
          "in" : "query",
          "description" : "comando a ser executado no agente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "imprimir"
          }
        }, {
          "name" : "i",
          "in" : "query",
          "description" : "nome da impressora de destino para impressão de documentos",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "HP1030B1 HP Officejet Pro 6830"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_13"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/agenteimprimir" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Enviar impresão de um documento para um agente",
        "operationId" : "Enviarimpresãodeumdocumentoparaumagente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "t",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id do agente a utilizar par a a impressão",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        }, {
          "name" : "d",
          "in" : "query",
          "description" : "id do documento a imprimir",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 102
          }
        }, {
          "name" : "td",
          "in" : "query",
          "description" : "id do tipo de documento",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 2
          }
        }, {
          "name" : "i",
          "in" : "query",
          "description" : "impressora do agente a utilizar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "HP1030B1 HP Officejet Pro 6830"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/keepalive" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Keepalive",
        "operationId" : "Keepalive",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id do agente a ativar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        }, {
          "name" : "d",
          "in" : "query",
          "description" : "descrição do agente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Agentes 2 "
          }
        }, {
          "name" : "i",
          "in" : "query",
          "description" : "impressoras disponiveis no agente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "[HP 1, HP 2]"
          }
        }, {
          "name" : "c",
          "in" : "query",
          "description" : "sysinfo do agente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{info:linux}"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/alterarviaturaagente" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Adicionar viatura ao agente",
        "operationId" : "Adicionarviaturaaoagente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "agente",
          "in" : "query",
          "description" : "id do agente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 10256491025453
          }
        }, {
          "name" : "viatura",
          "in" : "query",
          "description" : "id da viatura",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/impressorasagente" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Obter as impressoras disponiveis de um agente",
        "operationId" : "Obterasimpressorasdisponiveisdeumagente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id de agente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/activarimpressoraagente" : {
      "post" : {
        "tags" : [ "Agentes" ],
        "summary" : "Ativar impressora no agente para utilização",
        "operationId" : "Ativarimpressoranoagenteparautilização",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id de agente especifico a verificar se esta ativo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_14"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/desactivarimpressoraagente" : {
      "post" : {
        "tags" : [ "Agentes" ],
        "summary" : "Desativar impressora no agente",
        "operationId" : "Desativarimpressoranoagente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id de agente especifico a verificar se esta desativo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 852588708511
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_15"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/criarchaveapi" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Criar chave API",
        "operationId" : "CriarchaveAPI",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/chavesapi" : {
      "get" : {
        "tags" : [ "Agentes" ],
        "summary" : "Obter todas as chaves API",
        "operationId" : "ObtertodasaschavesAPI",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/armazens" : {
      "get" : {
        "tags" : [ "Armazens" ],
        "summary" : "Obter todos os armazens",
        "operationId" : "Obtertodososarmazens",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id de armazem especifico",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/criararmazem" : {
      "post" : {
        "tags" : [ "Armazens" ],
        "summary" : "Criar um novo armazem",
        "operationId" : "Criarumnovoarmazem",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "getid",
          "in" : "query",
          "description" : "Obter id do armazem criado",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_16"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminararmazem" : {
      "post" : {
        "tags" : [ "Armazens" ],
        "summary" : "Eliminar um armazem",
        "operationId" : "Eliminarumarmazem",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_17"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/artigos" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter todos os artigos",
        "operationId" : "Obtertodososartigos",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "Texto a pesquisar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "cola"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/artigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter dados de um artigo",
        "operationId" : "Obterdadosdeumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "Código do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 262251942558
          }
        }, {
          "name" : "linha",
          "in" : "query",
          "description" : "linha de preço",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/precos" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter todos os preços de um artigo",
        "operationId" : "Obtertodosospreçosdeumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "Código do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 262251942558
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/artigocliente" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Preços artigo de um cliente",
        "operationId" : "Preçosartigodeumcliente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        }, {
          "name" : "c",
          "in" : "query",
          "description" : "ID do cliente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 15
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/criarartigos" : {
      "post" : {
        "tags" : [ "Artigos" ],
        "summary" : "Criar um artigos a partir de um array em JSON",
        "operationId" : "CriarumartigosapartirdeumarrayemJSON",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_18"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/guardarartigo" : {
      "post" : {
        "tags" : [ "Artigos" ],
        "summary" : "Criar ou editar um artigo",
        "operationId" : "Criaroueditarumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "se definido altera o artigo com o código passado, senão cria um novo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123456789
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_19"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/definirprecoartigo" : {
      "post" : {
        "tags" : [ "Artigos" ],
        "summary" : "Alterar preço de um artigo",
        "operationId" : "Alterarpreçodeumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_20"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Eliminar um artigo",
        "operationId" : "Eliminarumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo a eliminar. Se o artigo for referido em movimentos apenas o desativa.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123456789
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/imagemartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Visualizar uma imagem de um artigo",
        "operationId" : "Visualizarumaimagemdeumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da imagem a visualizar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 456
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/thumbnailartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Visualizar uma thumbnail de um artigo",
        "operationId" : "Visualizarumathumbnaildeumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da imagem a visualizar em thumbnail",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 456
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/guardarimagemartigo" : {
      "post" : {
        "tags" : [ "Artigos" ],
        "summary" : "Adicionar imagem a um artigo",
        "operationId" : "Adicionarimagemaumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_21"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/gerarthumbnails" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Gerar thumbnails a partir de imagens de artigos",
        "operationId" : "Gerarthumbnailsapartirdeimagensdeartigos",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/imagensartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter imagens de um artigo",
        "operationId" : "Obterimagensdeumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123456789
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarimagemartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Eliminar uma imagem do artigo",
        "operationId" : "Eliminarumaimagemdoartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da imagem a eliminar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 458
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/descontosartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter descontos especificos de um cliente",
        "operationId" : "Obterdescontosespecificosdeumcliente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do cliente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 15
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/inserirdescontoartigo" : {
      "post" : {
        "tags" : [ "Artigos" ],
        "summary" : "Criar novo desconto especifico para cliente",
        "operationId" : "Criarnovodescontoespecificoparacliente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do cliente",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 15
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_22"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminardescontoartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Eliminar desconto especifico de cliente",
        "operationId" : "Eliminardescontoespecificodecliente",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "id do desconto a eliminar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/stock" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter o stock atual de um artigo",
        "operationId" : "Obterostockatualdeumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/fornecedoresartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter códigos por fornecedor do artigo",
        "operationId" : "Obtercódigosporfornecedordoartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/adicionarfornecedorartigo" : {
      "post" : {
        "tags" : [ "Artigos" ],
        "summary" : "Adicionar código de fornecedor ao artigo",
        "operationId" : "Adicionarcódigodefornecedoraoartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_23"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarfornecedorartigo" : {
      "post" : {
        "tags" : [ "Artigos" ],
        "summary" : "Eliminar código do artigo no fornecedor",
        "operationId" : "Eliminarcódigodoartigonofornecedor",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_24"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/artigoscb" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter códigos de barra extra do artigo",
        "operationId" : "Obtercódigosdebarraextradoartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/criarcbartigo" : {
      "post" : {
        "tags" : [ "Artigos" ],
        "summary" : "Criar código de barras extra",
        "operationId" : "Criarcódigodebarrasextra",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_25"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/unidadeartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter unidades utilizadas por um artigo",
        "operationId" : "Obterunidadesutilizadasporumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "artigos.cod_barras",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarcbartigo" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Eliminar código de barras extra de um artigo",
        "operationId" : "Eliminarcódigodebarrasextradeumartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        }, {
          "name" : "c",
          "in" : "query",
          "description" : "Código de barras extra a eliminar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 123123123123
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/kuantokusta" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Gerar ficheiro KuantoKusta",
        "operationId" : "GerarficheiroKuantoKusta",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "linha",
          "in" : "query",
          "description" : "Linha de preço a utilizar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        }, {
          "name" : "portes",
          "in" : "query",
          "description" : "Valor dos portes",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 10
          }
        }, {
          "name" : "webstore",
          "in" : "query",
          "description" : "ID da webstore Goldylocks a utilizar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/catalogoartigos" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Gerar catálogo de artigos em PDF",
        "operationId" : "GerarcatálogodeartigosemPDF",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/autorizacaovenda" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Obter código para autorização fitofarmacos",
        "description" : "Código da DGAV",
        "operationId" : "Obtercódigoparaautorizaçãofitofarmacos",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/duplicarimagemfamilia" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Clonar imagem de um artigo por familia",
        "operationId" : "Clonarimagemdeumartigoporfamilia",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo com a imagem de origem",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        }, {
          "name" : "f",
          "in" : "query",
          "description" : "ID da familia de destino",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/gerarimagensartigospasta" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Gerar imagens artigos na pasta do servidor",
        "operationId" : "Gerarimagensartigosnapastadoservidor",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/comprimirimagensartigos" : {
      "get" : {
        "tags" : [ "Artigos" ],
        "summary" : "Comprimir todas as imagens dos artigos",
        "operationId" : "Comprimirtodasasimagensdosartigos",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/criaravenca" : {
      "post" : {
        "tags" : [ "Avenças" ],
        "summary" : "Criar uma avença",
        "operationId" : "Criarumaavença",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_26"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/removeravenca" : {
      "get" : {
        "tags" : [ "Avenças" ],
        "summary" : "Eliminar avença",
        "operationId" : "Eliminaravença",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da avença a remover",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 12
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/avencas" : {
      "get" : {
        "tags" : [ "Avenças" ],
        "summary" : "Obter avenças existentes",
        "operationId" : "Obteravençasexistentes",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do documento a verificar avenças",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 324
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/avencasporprocessar" : {
      "post" : {
        "tags" : [ "Avenças" ],
        "summary" : "Obter avenças pendentes de processamento",
        "operationId" : "Obteravençaspendentesdeprocessamento",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_27"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/bancos" : {
      "get" : {
        "tags" : [ "Bancos" ],
        "summary" : "Obter bancos",
        "operationId" : "Obterbancos",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/gerirbanco" : {
      "post" : {
        "tags" : [ "Bancos" ],
        "summary" : "Criar ou editar banco",
        "operationId" : "Criaroueditarbanco",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID de banco se for para alterar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_28"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarbanco" : {
      "get" : {
        "tags" : [ "Bancos" ],
        "summary" : "Eliminar banco",
        "operationId" : "Eliminarbanco",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do banco a eliminar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/obtercaixas" : {
      "get" : {
        "tags" : [ "Caixas" ],
        "summary" : "Obter caixas",
        "operationId" : "Obtercaixas",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "ativas",
          "in" : "query",
          "description" : "estado das caixas a obter",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/criarcaixa" : {
      "post" : {
        "tags" : [ "Caixas" ],
        "summary" : "Criar caixa",
        "operationId" : "Criarcaixa",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_29"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/updatecaixa" : {
      "post" : {
        "tags" : [ "Caixas" ],
        "summary" : "Editar caixa",
        "operationId" : "Editarcaixa",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_30"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/logotipocaixa" : {
      "get" : {
        "tags" : [ "Caixas" ],
        "summary" : "Obter logotipo",
        "operationId" : "Obterlogotipo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "caixa",
          "in" : "query",
          "description" : "ID da caixa",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 2
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/alterarlogotipocaixa" : {
      "post" : {
        "tags" : [ "Caixas" ],
        "summary" : "Alterar logotipo da caixa",
        "operationId" : "Alterarlogotipodacaixa",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "caixa",
          "in" : "query",
          "description" : "id da caixa",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 2
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "application/x-www-form-urlencoded"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_31"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/removerlogotipocaixa" : {
      "get" : {
        "tags" : [ "Caixas" ],
        "summary" : "Remover logotipo da caixa",
        "operationId" : "Removerlogotipodacaixa",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "caixa",
          "in" : "query",
          "description" : "ID da caixa",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/alterarestadocaixa" : {
      "post" : {
        "tags" : [ "Caixas" ],
        "summary" : "Alterar estado da caixa",
        "operationId" : "Alterarestadodacaixa",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_32"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarcaixa" : {
      "post" : {
        "tags" : [ "Caixas" ],
        "summary" : "Eliminar caixa",
        "operationId" : "Eliminarcaixa",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_33"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/sessoesutilizador" : {
      "post" : {
        "tags" : [ "Caixas" ],
        "summary" : "Obter fechos",
        "operationId" : "Obterfechos",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_34"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/campanhas" : {
      "get" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Obter todas as campanhas existentes",
        "operationId" : "Obtertodasascampanhasexistentes",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/gerircampanha" : {
      "post" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Criar ou editar campanha",
        "operationId" : "Criaroueditarcampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da campanha a alterar, opcional",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 4
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_35"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/webstorecampanha" : {
      "get" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Obter webstores da campanha",
        "operationId" : "Obterwebstoresdacampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/imagemcampanha" : {
      "get" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Obter imagem da campanha",
        "operationId" : "Obterimagemdacampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        }, {
          "name" : "thumb",
          "in" : "query",
          "description" : "Obter thumbnail em vez da imagem normal",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarcampanha" : {
      "get" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Eliminar campanha",
        "operationId" : "Eliminarcampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da campanha a eliminar",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 4
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/artigoscampanha" : {
      "get" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Obter artigos da campanha",
        "operationId" : "Obterartigosdacampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 3
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/familiascampanha" : {
      "get" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Obter familias da campanha",
        "operationId" : "Obterfamiliasdacampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 3
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/gerirartigocampanha" : {
      "post" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Adicionar ou alterar artigo na campanha",
        "operationId" : "Adicionaroualterarartigonacampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "Se definido altera o artigo na campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_36"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/gerirfamiliacampanha" : {
      "post" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Criar ou editar familia na campanha",
        "operationId" : "Criaroueditarfamilianacampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "Se definido altera a familia na campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_37"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarartigocampanha" : {
      "get" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Remover artigo da campanha",
        "operationId" : "Removerartigodacampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo a remover da campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        }, {
          "name" : "c",
          "in" : "query",
          "description" : "ID da campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 3
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarfamiliacampanha" : {
      "get" : {
        "tags" : [ "Campanhas" ],
        "summary" : "Remover uma familia da campanha",
        "operationId" : "Removerumafamiliadacampanha",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID da familia a remover da campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 123
          }
        }, {
          "name" : "c",
          "in" : "query",
          "description" : "ID da campanha",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 3
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/tipocaracteristica" : {
      "get" : {
        "tags" : [ "Carateristicas" ],
        "summary" : "Obter tipo carateristica",
        "operationId" : "Obtertipocarateristica",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "tp",
          "in" : "query",
          "description" : "tipo",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do tipo caraterista",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tc",
          "in" : "query",
          "description" : "tipo carateristico",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/tiposcaracteristicas" : {
      "get" : {
        "tags" : [ "Carateristicas" ],
        "summary" : "Obter varios tipos de caracteristicas",
        "operationId" : "Obtervariostiposdecaracteristicas",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "artigo",
          "in" : "query",
          "description" : "ID dos artigos",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 4
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do tipo carateristica",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminartipocaracteristica" : {
      "get" : {
        "tags" : [ "Carateristicas" ],
        "summary" : "Eliminar tipo de caracteristica",
        "operationId" : "Eliminartipodecaracteristica",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do tipo carateristica",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        }, {
          "name" : "tp",
          "in" : "header",
          "description" : "tipo",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tc",
          "in" : "header",
          "description" : "tipo carateristica",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/gerirtipocaracteristica" : {
      "get" : {
        "tags" : [ "Carateristicas" ],
        "summary" : "Gerir tipo caracteristica",
        "operationId" : "Gerirtipocaracteristica",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do tipo carateristica",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        }, {
          "name" : "tp",
          "in" : "header",
          "description" : "tipo",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tc",
          "in" : "header",
          "description" : "tipo carateristica",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/valorestiposcaracteristicas" : {
      "get" : {
        "tags" : [ "Carateristicas" ],
        "summary" : "Obter valores tipos caracteristicas",
        "operationId" : "Obtervalorestiposcaracteristicas",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "artigo",
          "in" : "query",
          "description" : "ID dos artigos",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 4
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do tipo carateristico",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/gerirvalortipocaracteristica" : {
      "post" : {
        "tags" : [ "Carateristicas" ],
        "summary" : "Gerir valor tipo caracteristica",
        "operationId" : "Gerirvalortipocaracteristica",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_38"
              },
              "encoding" : { }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/eliminarvalortipocaracteristica" : {
      "get" : {
        "tags" : [ "Carateristicas" ],
        "summary" : "Eliminar valor tipo caracteristica",
        "operationId" : "Eliminarvalortipocaracteristica",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do tipo carateristica",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : { }
        },
        "deprecated" : false
      }
    },
    "/adicionarcaracteristicaartigo" : {
      "get" : {
        "tags" : [ "Carateristicas" ],
        "summary" : "Adicionar caracteristica artigo",
        "operationId" : "Adicionarcaracteristicaartigo",
        "parameters" : [ {
          "name" : "api",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api-token}}"
          }
        }, {
          "name" : "p",
          "in" : "query",
          "description" : "ID do artigo",
          "required" : true,
[...]
